*{
  padding: 0;
  margin: 0;
}
.bg{
  background-color: #7E349D;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box{
  background-color: #ECF0F1;
  width: 400px;
  text-align: center;
  padding: 0 40px;
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
    0 2px 2px rgba(0,0,0,0.15), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
.box h3{
  display: inline-block;
}
.box :is(h3, p, button){
  margin: 15px 0 15px 0;
}